<div class="col s12 m12 l12">
  <p>Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout</p>
</div>
