<div class="row">
  <p>Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout Petit test avec un texte qui n'en fini pas du tout du tout du tout</p>
</div>
<div class="row partenaires">
  <h2>Nos partenaires</h2>
  <div class="row">
    <div class="col s4 m4 l4">
      <h4>Beurres Bordier</h4>
    </div>
    <div class="col s4 m4 l4">
      <h4>Les Celliers Bretons</h4>
    </div>
    <div class="col s4 m4 l4">
      <h4>Cidre de Ferme</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s4 m4 l4">
      <h4>Chocolat Colas</h4>
    </div>
    <div class="col s4 m4 l4">
      <h4>Ferme de la Budinerie</h4>
    </div>
    <div class="col s4 m4 l4">
      <h4>Val de Rance</h4>
    </div>
  </div>
</div>
