<div class="row">
  <h2 class="center-align home-title">Découvrez l'ambiance de la crêperie de Monfort L'Amaury</h2>
  <h2 class="center-align">Spécialités de galettes crêpes fondue savoyarde</h2>
</div>
<div class="row">
  <h4 class="center-align"></h4>
  <div class="row">
    <div class="col m2"></div>
    <div class="col s12 m8">
      <div class="card hoverable presentation">
        <div class="card-image">
          <img src="/assets/interieur2.jpg">
        </div>
        <div class="card-content">
          <p>Du mardi midi au dimanche midi de 11H45 à 14H00 et de 18H45 à 22H00 ouvert non stop le samedi de 11H45 à 22H00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row formules">
    <div class="col s12 m6 l6 formule">
      <div class="bloc-title">
        <h3 class="center-align">Formule Midi</h3>
      </div>
      <div class="content">
        <p class="center-align">Galette complète + Salade verte ou Galette du jour + Salade verte ou omelette jambon fromage + salade verte</p>
        <p class="center-align">+ 1 crêpe au choix</p>
        <p class="center-align">(Beurre sucre, Caramel, Chocolat ou Confiture)</p>
        <p class="center-align">Ou Far Breton</p>
        <p class="center-align">+ 1 Boisson + 1 café</p>
        <p class="center-align">(bolée de cidre ou 1/2 eau minérale ou verre de vin ou jus de pomme)</p>
      </div>
      <div class="price center-align">
        <span class="chip">13,9 €</span>
      </div>
    </div>
    <div class="col s12 m6 l6 offre">
      <div class="bloc-title">
        <h3 class="center-align">Pour le soir entre amis</h3>
      </div>
      <div class="content">
        <h5 class="center-align">Fondue Savoyarde</h5>
        <p class="center-align">2 personnes minimum</p>
        <p class="center-align">(Fondue savoyarde, salade verte) / Cheese fondue</p>
      </div>
      <div class="price center-align">
        <span class="chip">17,9 € / personne</span>
      </div>
      <div class="content">
        <h5 class="center-align">Fondue Gourmande</h5>
        <p class="center-align">Galette beurre bordier au choix</p>
        <p class="center-align">+ Galette Saint-Malo ou Monfortoise + assortiment de 4 mini-crêpes</p>
      </div>
      <div class="price center-align">
        <span class="chip">22,9 €</span>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row parterns">
  <h2 class="center-align"><i class="material-icons">supervisor_account</i>Nos partenaires</h2>
  <div class="global-parterns">
    <ul class="row" id="carousel-parterns">
      <li class="partern with-link">
        <h4 class="center-align">Beurres Bordier</h4>
        <a class="link" target="_blank" href="http://www.lebeurrebordier.com/">Accéder au site</a>
      </li>
      <li class="partern with-link">
        <h4 class="center-align">Les Celliers Bretons</h4>
        <a class="link" target="_blank" href="http://lescelliersbretons.com/">Accéder au site</a>
      </li>
      <li class="partern alone-link">
        <h4 class="center-align">Cidre de Ferme</h4>
      </li>
      <li class="partern with-link">
        <h4 class="center-align">Chocolat Colas</h4>
        <a class="link" target="_blank" href="http://chocolatscolas.fr/">Accéder au site</a>
      </li>
      <li class="partern alone-link">
        <h4 class="center-align">Ferme de la Budinerie</h4>
      </li>
      <li class="partern with-link">
        <h4 class="center-align">Val de Rance</h4>
        <a class="link" target="_blank" href="http://www.valderance.com/">Accéder au site</a>
      </li>
      <li class="partern with-link">
        <h4 class="center-align">Vergers de Plaisir</h4>
        <a class="link" target="_blank" href="http://lesvergersdeplaisir.fr/">Accéder au site</a>
      </li>
    </ul>
    <div class="parterns-actions">
      <button id="previous" class="btn-floating btn-large waves-effect waves-light">
        <i class="material-icons">skip_previous</i>
      </button>
      <button id="next" class="btn-floating btn-large waves-effect waves-light">
        <i class="material-icons">skip_next</i>
      </button>
    </div>
  </div>
</div>
-->
