<div class="row galettes-sarrasin">
  <div class="col m6">
    <h3>Galettes de sarrasin</h3>
    <p>Complètes ou spécialités, nous vous proposons un  choix varié de galettes au pur blé noir Breton. Accompagnées de beurre demi sel Bordier, retrouvez les saveurs authentiques du sarrasin.</p>
  </div>
  <div class="col m6">
    <div class="slider">
      <ul class="slides">
        <li>
          <img width="500" height="200" src="/assets/IMG_0844.JPG">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img width="500" height="200" src="/assets/IMG_0845.JPG">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img width="500" height="200" src="/assets/IMG_0870.JPG">
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img width="500" height="200" src="/assets/interieur.jpg">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
