$p-color: #961737;
$s-color: #e7e7e7;
$bg-color: #424a52;

@import url(https://fonts.googleapis.com/css?family=Nunito);
@font-face {
  font-family: 'copperplate';
  src: url('/assets/Copperplate_Gothic_Bold_Regular.ttf');
}
