@import "config";

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #FFF;
  header {
    nav div.top-bar {
      background-color: $p-color;
      div.container-fluid {
        padding: 0 15px;
        a.logo {
          position: relative;
          display: inline-block;
          margin-top: 5px;
        }
      }
    }
  }

  main.container-fluid {
    background-color: #FFF;
    margin-top: 20px;
    .row {
      padding: 0 15px;
    }
  }
}
