@import "config";

* {
  font-family: 'copperplate', 'Nunito', sans-serif;
}

body {
  background: url('/assets/dark_embroidery.png');
  header {
    nav div.top-bar {
      height: 95px;
      background-color: $p-color;

      div.container-fluid {
        padding: 0 15px;

        ul#mobile-menu {
          li {
            a {
              color: $p-color;
            }
          }
        }
        li.mobile-facebook:hover {
          background-color: inherit;
        }
        li.mobile-facebook {
          text-align: center;
        }
        li.facebook:hover {
          background-color: $p-color;
        }
        li {
          a {
            img.home {
              margin: 28px 10px 28px 0;
              float: left;
            }
            i {
              line-height: 95px;
            }
          }
        }
        ul#sous-menu-carte, ul#sous-menu-carte-mobile {
          li {
            line-height: 20px;
            a {
              font-size: 1em;
              color: $p-color;
            }
          }
        }
        a.button-collapse {
          margin: 20px 0;
        }
        a.logo {
          position: relative;
          display: inline-block;
          height: 95px;

          img {
            margin-top: 5px;
          }
        }
        ul.menu {
          margin-left: 300px;
          li {
            line-height: 95px;
          }
        }
      }
    }
  }

  main.container-fluid {
    margin-top: 20px;
    padding-top: 20px;
    .row {
      padding: 0 15px;
    }
  }
}
