@import "config";

* {
  font-family: 'copperplate', 'Nunito', sans-serif;
}

body {
  background: url('/assets/confectionary.png');
  header {
    nav div.top-bar {
      height: 95px;
      background-color: $p-color;
      div.container-fluid {
        padding: 0 15px;
        a.button-collapse {
          margin: 20px 0;
        }
        a.logo {
          position: relative;
          display: inline-block;
          margin-top: 5px;
        }
        ul.menu {
          margin-left: 50px;
          li {
            line-height: 95px;
          }
        }
      }
    }
  }

  main.container-fluid {
    margin-top: 20px;
    padding-top: 20px;
    .row {
      padding: 0 15px;
    }
  }
}
