@import "config";

div.row.parterns {
  ul.row#carousel-parterns {
    border: 1px #000 solid;
    height: 200px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;

    li.partern {
      box-sizing: border-box;
      margin-left: -4px;
      display: inline-block;
      width: 50%;
      height: 200px;
      background-color: $p-color;
      transition: all 1s ease;
      padding: 15px;
      h4 {
        color: $s-color;
      }
    }
  }
  div.parterns-actions {
    button.btn-floating {
      background-color: $p-color;
      color: $s-color;
    }
  }
}

div.row.contact {
  div.infos {
    div.info {
      margin: 15px 0;

      i {
        display: inline-block;
        background-color: $p-color;
        border-radius: 50%;
        color: #FFF;
        line-height: 40px;
        min-width: 40px;
        text-align: center;
      }
      span {
        display: inline-block;
        padding-left: 20px;
        font-size: 1.1em;

        a.phone-number, a.maps-link {
          color: inherit;
        }
        a.phone-number:hover {
          color: $p-color;
        }
        a.maps-link:hover {
          color: $p-color;
        }
      }
    }
  }

  div.formulaire {
    div.card-panel.red {
      padding: 15px;
    }
    .input-field label {
      color: $p-color;
    }
    .input-field input[type=text]:focus + label {
      color: $p-color;
    }
    .input-field textarea:focus {
      border-bottom: 1px solid $p-color;
      box-shadow: 0 1px 0 0 $p-color;
    }
    .input-field input[type=text]:focus {
      border-bottom: 1px solid $p-color;
      box-shadow: 0 1px 0 0 $p-color;
    }
    .input-field .prefix.active {
      color: $p-color;
    }
    button.btn-floating {
      background-color: $p-color;
    }
  }
}
