@import "config";

div.row.formules {
  div.col.offre, div.col.formule {
    div.bloc-title {
      background-color: $p-color;
      padding: 15px 0;
      h3 {
        color: $s-color;
        margin: 0;
      }
    }
    div.content {
      padding: 15px;
      background-color: $s-color;
      h5 {
        margin: 0;
      }
    }
    div.price {
      background-color: $p-color;
      padding: 15px 0;
    }
  }
  div.card.formule {
    background-color: $p-color;
    div.card-content {
      p, span {
        color: $s-color;
      }
    }
  }
}

div.row.parterns {
  h2 {
    i {
      background-color: $p-color;
      display: inline-block;
      margin-right: 20px;
      transition: 1s;
      color: #FFF;
      border: 0px;
      border-radius: 50%;
      width: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 35px;
    }
   i:hover {
      background-color: transparent;
      color: $p-color;
    }
  }
  div.global-parterns {
    ul.row#carousel-parterns {
      height: 200px;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;

      li.partern {
        box-sizing: border-box;
        margin-left: -4px;
        display: inline-block;
        width: 100%;
        height: 200px;
        background-color: $p-color;
        transition: all 1s ease;
        padding: 15px 0;

        h4 {
          color: $s-color;
          font-size: 1.7em;
        }
        &.with-link {
          h4 {
          }
        }
        &.alone-link {
        padding: 0;
          h4 {
            font-size: 2em;
            line-height: 228px;
          }
        }
        a {
          padding-top: 50px;
          display: block;
          background-color: $s-color;
          height: 200px;
          color: $p-color;
          text-align: center;
          transition: 1s;
          font-size: 1.3em;
        }
        a:hover {
          background-color: $p-color;
          color: $s-color;
        }
      }
    }
    div.parterns-actions {
      position: relative;
      button.btn-floating {
        display: inline-block;
        position: absolute;
        background-color: $p-color;
        color: $s-color;
        bottom: 75px;
      }
      button#previous {
        left: -10px;
      }
      button#next {
        right: -10px;
      }
    }
  }
}

div.carte {
  margin-left: -15px;
  margin-right: -15px;

  a.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: $p-color;
    color: $s-color;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    i {
      line-height: 50px;
    }
  }
  h2 {
    color: $p-color;
    margin: 50px 0;
    i {
      background-color: $p-color;
      display: inline-block;
      margin-right: 20px;
      transition: 1s;
      color: #FFF;
      border: 0px;
      border-radius: 50%;
      width: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 35px;
    }
   i:hover {
      background-color: transparent;
      color: $p-color;
    }
  }

  h4 {
    color: $p-color;
    margin: 50px 0;
  }

  div.row.boissons {
    border-bottom: 2px solid $p-color;
    div.category-aperitif {
      padding-bottom: 15px;
      border: 2px solid $p-color;
      margin: 15px;
      h6 {
        font-size: 1.3em;
        background-color: $p-color;
        color: $s-color;
        margin-top: 0;
        padding: 15px;
      }
      div.product-aperitif {
        padding: 10px 15px;
        span {
          color: $p-color;
        }
        span.product-price {
          color: $p-color;
        }
      }
    }
  }

  div.col.galettes {
    div.galette {
      border: 2px solid $p-color;
      margin: 5px 0;
      div.header-galette {
        padding: 10px 15px;
        background-color: $p-color;
        span {
          color: $s-color;
        }
        span.product-price {
          color: $p-color;
          margin-top: -5px;
        }
      }
      div.content-galette {
        padding: 5px 15px;
        color: $p-color;
        background-color: #FFF;
      }
    }
  }

  div.row.omelettes-salades {
    div.omelette-salade {
      border: 2px solid $p-color;
      margin: 5px 0;
      div.header-omelette-salade {
        padding: 10px 15px;
        background-color: $p-color;
        span {
          color: $s-color;
        }
        span.product-price {
          color: $s-color;
        }
        span.product-price {
          color: $p-color;
          margin-top: -5px;
        }
      }
      div.content-omelette-salade {
        padding: 5px 15px;
        color: $p-color;
        background-color: #FFF;
      }
    }
  }

  div.row.froments-sucre {
    div.crepe-sucre {
      border: 2px solid $p-color;
      margin: 5px 0;
      div.header-crepe-sucre {
        padding: 10px 15px;
        background-color: $p-color;
        span {
          color: $s-color;
        }
        span.product-price {
          color: $p-color;
          margin-top: -5px;
        }
      }
      div.content-crepe-sucre {
        padding: 5px 15px;
        color: $p-color;
        background-color: #FFF;
      }
    }
  }

  div.row.froments-special {
    div.crepe-froment {
      border: 2px solid $p-color;
      margin: 5px 0;
      div.header-crepe-froment {
        padding: 10px 15px;
        background-color: $p-color;
        span {
          color: $s-color;
        }
        span.product-price {
          color: $p-color;
          margin-top: -5px;
        }
      }
      div.content-crepe-froment {
        padding: 5px 15px;
        color: $p-color;
        background-color: #FFF;
      }
    }
  }

  div.row.desserts {
    border: 2px solid $p-color;
    padding: 0 0 15px 0;
    margin-left: 15px;
    margin-right: 15px;
    div.title-desserts {
      h4 {
        color: $s-color;
        margin: 0;
        padding: 15px 0;
      }
      background-color: $p-color;
    }
    div.row.content-desserts {
      h5 {
        color: $p-color;
      }
      div.glaces {
        h6 {
          color: $p-color;
          font-size: 1.3em;
        }
        div.parfums {
          span.chip {
            color: $p-color;
            margin: 5px 0;
          }
        }
      }
      div.sorbets {
        h6 {
          color: $p-color;
          font-size: 1.3em;
        }
        div.parfums {
          span.chip {
            color: $p-color;
            margin: 5px 0;
          }
        }
      }
    }
    div.tarif {
      h4 {
        margin: 15px 0;
        font-size: 1.5em;
      }
    }
    div.coupes-glacees {
      h4 {
        margin: 15px 0;
        font-size: 1.5em;
      }
    }
  }
}

div.row.contact {
  h2.contact-title {
    color: $p-color;
    i {
      background-color: $p-color;
      display: inline-block;
      margin-right: 20px;
      transition: 1s;
      color: #FFF;
      border: 0px;
      border-radius: 50%;
      width: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 35px;
    }
   i:hover {
      background-color: transparent;
      color: $p-color;
    }
  }
  div.infos {
    div.hourly {
      margin: 15px 0;

      i {
        display: inline-block;
        background-color: $p-color;
        border-radius: 50%;
        color: #FFF;
        line-height: 40px;
        min-width: 40px;
        text-align: center;
      }
    }
    div.info {
      margin: 15px 0;

      i {
        display: inline-block;
        background-color: $p-color;
        border-radius: 50%;
        color: #FFF;
        line-height: 40px;
        min-width: 40px;
        text-align: center;
      }
      span {
        display: inline-block;
        padding-left: 20px;
        font-size: 1.1em;

        a.phone-number, a.maps-link {
          color: inherit;
        }
        a.phone-number:hover {
          color: $p-color;
        }
        a.maps-link:hover {
          color: $p-color;
        }
      }
    }
  }

  div.formulaire {
    div.card-panel.red {
      padding: 15px;
    }
    .input-field label {
      color: $p-color;
    }
    .input-field input[type=text]:focus + label {
      color: $p-color;
    }
    .input-field textarea:focus {
      border-bottom: 1px solid $p-color;
      box-shadow: 0 1px 0 0 $p-color;
    }
    .input-field input[type=text]:focus {
      border-bottom: 1px solid $p-color;
      box-shadow: 0 1px 0 0 $p-color;
    }
    .input-field .prefix.active {
      color: $p-color;
    }
    button.btn-floating {
      background-color: $p-color;
    }
  }
}

@media all and (max-width: 650px)
{
  div.row.formules {
    div.col.offre, div.col.formule {
      margin: 15px 0;
    }
  }
  h2.home-title {
    font-size: 2em;
  }
  div.presentation {
    span.card-title {
      font-size: 1.3em;
    }
  }
  div.row.parterns {
    h2 {
      font-size: 2em;
      text-align: center;
    }
    li.partern.alone-link {
      h4.center-align {
        font-size: 1.5em !important;
      }
    }
    div.global-parterns {
      ul.row {
        li.partern {
          h4 {
            font-size: 1.7em;
          }
        }
      }
    }
  }
}
