<div class="row">
  <% if flash[:error] %>
    <div class="card-panel red darken-3">
      <span class="white-text"><%= flash[:error] %></span>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="card-panel teal">
      <span class="white-text"><%= flash[:success] %></span>
    </div>
  <% end %>
</div>
